:root {
  --color-pastel: #f7f7f7;
  --color-nigger: #000000;
  font-size: 62.5%;
}
body {
  background-color: var(--color-pastel);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-image: url(../imagenes/imagen-fondo.jpg);
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
}
.contenedor-principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}
.cabecera {
  height: 6rem;
  width: 100%;
  background-color: #404258;
}
.cabecera-der {
  float: right;
  height: 6rem;
  width: 60%;
}
ul {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
li {
  list-style: none;
  margin-top: 1rem;
}
a {
  text-decoration: none;
  color: var(--color-pastel);
  margin-right: 1rem;
}
.cabecera-izq {
  float: left;
  height: 6rem;
  width: 100%;
}
.contenedor-titulos {
  color: var(--color-nigger);
  text-align: center;
}
.titulo {
  font-size: 4rem;
}
.divContenedor {
  display: flex;
  justify-content: space-around;
}
.carta1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  text-align: center;
  margin-left: 40rem;
}
.carta2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  text-align: center;
}
.divContenedor img {
  width: 30rem;
  margin-top: 10rem;
}
.fotoJhon{
  height: 26rem;
}
.foto-michael {
  height: 26rem;
}
.parrafo1 {
  text-align: left;
  color: #000000;
}
.parrafo2 {
  text-align: center;
  color: #000000;
}
footer {
  background-color: #404258;
  height: 20rem;
  width: 100%;
}

.tabla{
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem  blue;
  text-align: center;
  width: 70%;
  height: 40%;
}
.footer{
  justify-content: space-around;

}
.logoFacebook{
  width: 20%;
  height: 20%;
}
