* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
:root {
  --color-pastel: #f7f7f7;
  --color-nigger: #000000;
  font-size: 62.5%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../imagenes/imagen-fondo.jpg);
  margin: 0;
  padding: 0;
  position: relative;
}

#iconoDiamante img {
  height: 4rem;
}

.cabecera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7.5rem;
  width: 100%;
  background-color: #00005c;
  border-bottom: 3px solid #975c8d;
}
.listaHeader {
  display: flex;
  justify-content: space-around;
  float: left;
}

body:not() header {
  width: 100%;
  margin: 30px 0;
  font: 22px sans-serif;
  background: var(--body-bg-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-color: var(--hr-color);
  margin: 20px 0;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 70px;
}

.menu a {
  position: relative;
  display: block;
  overflow: hidden;
}

.menu a span {
  transition: transform 0.2s ease-out;
}

.menu a span:first-child {
  display: inline-block;
  padding: 10px;
}

.menu a span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-360%);
}

.menu i {
  font-size: 1.5rem;
}

.menu a:hover span:last-child,
.menu[data-animation] a:hover span:last-child {
  transform: none;
}

ul {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
li {
  list-style: none;
  margin-top: 1rem;
  margin-right: 3rem;
}

a {
  text-decoration: none;
  color: var(--color-pastel);
}

.foto {
  width: 26rem;
  height: 26rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

.contenedor-titulos {
  color: var(--color-nigger);
  text-align: center;
}
.titulo {
  font-size: 4rem;
}

.divContenedor {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6rem;
}

.carta3 {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  margin-top: 7rem;
  height: 45rem;
}

.divContenedor #imagenes:hover {
  filter: grayscale(80%);
}

#titulo-Nombre {
  text-align: center;
  color: #0008c1;
}

.parrafo1,
.parrafo2 {
  color: #000000;
  padding: 0.5rem 2rem;
  text-align: justify;
  font-size: 1.3rem;
}

.tabla {
  margin: 5rem blue;
  text-align: center;
  width: 20%;
  height: 40%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  color: #333;
  border-radius: 30px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 260px;
  background: #fff;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.Nombre-integrante {
  margin-bottom: -14rem;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: #00005c;
  width: 100%;
  padding: 3rem;
}

.footter-derecho {
  display: flex;
  align-items: center;
}

.redes {
  margin: 0 3rem;
}

.footter-derecho img {
  width: 2rem;
}

.texto-redesSociales {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-pastel);
  margin-top: 3rem;
}

.contrataciones {
  text-align: center;
  font-family: Verdana;
  color: var(--color-pastel);
}

.correo {
  text-align: center;
  font-family: "Lucida Sans";
  color: var(--color-pastel);
}

.lista-footter {
  flex-direction: column;
  color: #d989b5;
}

.texto-enlaces {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-pastel);
}

.img-emoticon {
  position: absolute;
  width: 80px;
  top: -30px;
  left: 2rem;
}

.llamada,
.email,
.direccion {
  color: #d989b5;
  display: flex;
  align-items: center;
}

ol {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
}

ol img {
  width: 2rem;
  margin-right: 1rem;
  background-color: var(--color-pastel);
}

.redesFila1,
.redesFila2 {
  margin: 1rem 0;
}

.contenedor {
  overflow: hidden;
}

.img-emoticon {
  overflow: hidden;
  border-radius: 20px;
}

.titulo-formulario {
  color: #d989b5;
  text-align: center;
}

.suscribir {
  color: #d989b5;
}
.pequeñoP {
  color: #d989b5;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #d989b5;
}
input[type="checkbox"] {
  margin-top: 16px;
}
input[type="submit"] {
  background-color: #d989b5;
  color: white;
  border: none;
}
input[type="submit"]:hover {
  opacity: 0.8;
}

@media (max-width: 650px) {
  .divContenedor {
    flex-direction: column;
    align-items: center;
  }

  .tarjeta {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1050px) {
  .footter-derecho {
    flex-direction: column;
    align-items: center;
  }
  .formulario {
    margin-right: 20rem;
    margin-top: 10rem;
  }
}
